
.bg-brand {
    @apply bg-cover bg-no-repeat bg-top;
    background-image: linear-gradient(
        rgba(18, 26, 46, 0.8),
        rgba(18, 26, 46, 0.8)
        ),
        url("../css/Images/cover_img.jpg");
}

.bg-header {
    background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

.bg-footer {
    background: linear-gradient(to right, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

.search-bar {
    @apply form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.search-btn {
    @apply inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded-r-lg hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out
}

.pagination-list {
    @apply relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded-full text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none
}

.pagination-active {
    @apply bg-blue-600 text-white hover:text-white hover:bg-blue-500 focus:bg-blue-600
}


